.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    max-width: 700px;
    margin: 4px auto;
    margin-top: 40px;
    padding: 12px 20px;
    background-color: rgb(224, 134, 224);
    border-radius: 15px;
  }
  
  .new-expense__control label {
    font-weight: bold;
    display: block;
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .btn {
    padding: 15px 25px;
    color: white;
    background-color: rgb(39, 2, 39);
    border-radius: 12px;
    margin-left: 20vh;
    margin-top: 80px;
  }